*{
	margin:0； 
}
body{
	/* background: url('../pic/hou.jpg') no-repeat center center;
	background-size: 1000px 1200px; */
}
div{
	background: url('../pic/hou.jpg');
	background-size: 600px 700px;
	width: 1200px;
	height: 700px;
	margin: 0 auto;
}
.hou{
	padding-top: 30px;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	color: yellow;
}