*{
	margin: 0 0;
}
a{
	text-decoration: none;
}
body{
	background: url('../pic/meng.jpg') no-repeat center center;
}
div{
	width: 1200px;
	margin: 0 auto;
}
.ni{
	margin-left: 350px;
	font-size: 500px;
}